
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

li{
  list-style: none;
}

.bookmark-list-item{
  height: 100%
}

.bookmark-form{
  text-align: center;
  input{
    width: 200px;
    display: inline-block;
    margin-right: 30px;
  }
  button{
    height: 34px;
    margin-bottom: 2px;
  }
}
