
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

input{
  margin-left: 50px;
  border-radius: 3px;
  width: 250px;
}
.post{
  margin-right: 33px;
  vertical-align: top;
}
.post-text{
border-radius: 3px;
margin-left: 50px;
}

.blog-button{
  text-align: right;
  margin-right: 14px;
  .blog-post-button{
    width: 150px;
    height: 50px;
  }
}
