<div class="form-group">
 <label for="form-title">Post Title</label>
 <input type="text" class="form-control" id="form-title" placeholder="Title">
</div>
<div class="form-group">
 <label for="post-text">Post</label>
 <input type="text" class="form-control" id="form-text" placeholder="Enter Text Here">
</div>
 <button type="submit" class="btn btn-default">Submit</button>
